* {
  margin: 0;
  padding: 0;
  transition: 0.5s all;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}
$bd: 1px solid white;
main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  color: white;
  background: #000;
  header {
    display: flex;
    flex-direction: column;
    background: url(../img/computer-bg.png) center no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    color: white;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      padding: 40px;

      .nav__links {
        display: flex;
        .nav__link {
          color: white;
          margin: 0 25px;
          text-decoration: none;
          font-family: "Roboto";
          display: flex;
          flex-direction: column;
          align-items: center;
          width: max-content;

          &::after {
            width: 0;
            height: 1px;
            background: white;
            content: "";
            transition: 0.3s all;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
      .nav__login {
        width: 183px;
        height: 44px;
        background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
        border-radius: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: "Roboto";
        font-size: 16px;
        color: white;
      }
    }
    .header__title {
      margin: 170px 688px 510px 312px;

      .header__h1 {
        width: 980px;
        font-size: 64px;
        line-height: 140%;
      }
      .header__timer {
        display: flex;
        width: max-content;
        cursor: pointer;
        justify-content: space-between;
      }
    }
    .header__total {
      margin-top: -350px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
      background: #121212;

      .total__order-course {
        font-family: "Roboto";
        background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
        border-radius: 50px;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        width: 169px;
        height: 44px;
        color: white;
      }
      .total__inforamtion {
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        margin: 0 100px;
        .total__about-students {
          opacity: 0.4;
          .about-students__span {
            margin-left: 25px;
            opacity: 1 !important;
          }
        }
      }
      .total__progress {
        .progress__earned {
          opacity: 0.4;
          color: white;

          .earned__span {
            margin-left: 25px;
          }
        }
        .progress {
          width: 714px;
          height: 6px;

          background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);

          &::-webkit-progress-bar {
            background: white;
            height: 6px;
          }
          &::-webkit-progress-value {
            background: linear-gradient(
              94.78deg,
              #df5950 11.19%,
              #451046 93.72%
            );
            height: 6px;
          }
          &::-moz-progress-bar {
            background: white;
            height: 6px;
          }
        }
        .progress__amount {
          opacity: 0.4;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
      }
    }
  }
  .main__about-us {
    display: flex;
    flex-direction: column;
    padding: 150px;
    box-sizing: border-box;

    .about-us__what-do-we-do {
      display: flex;
      height: max-content;
      .what-do-we-do__computer-img {
        height: 450px;
        .what-do-we-do__img {
          width: 446px;
          height: 446px;
          position: relative;
          top: -420px;
          left: 50px;
          user-select: none;
        }
      }
      .what-do-we-do__text-block {
        margin-top: 190px;
        margin-left: 100px;

        .text-block__title {
          margin: -40px 0 40px 0;
          font-size: 48px;
          line-height: 140%;
        }
        .text-block__text {
          font-size: 16px;
          line-height: 160%;
          width: 646px;
        }
      }
    }

    .about-us__quickly-start {
      display: flex;
      flex-direction: column;
      width: 1315px;
      align-self: center;
      margin-top: 200px;

      .quickly-start__text-block {
        margin: 25px;
        align-items: flex-start;

        .text-block__title {
          display: flex;
          align-items: center;
        }

        .text-block__text {
          font-size: 16px;
          line-height: 160%;
          width: 411px;
          opacity: 0.5;
        }
      }
      .quickly-start__infographic {
        display: flex;
        justify-content: center;
        align-items: center;

        .infographic__percentages-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 306px;
          text-align: center;

          .percentages-block__title {
            font-size: 36px;
            line-height: 140%;
            margin-bottom: 20px;
          }
          .persentages-block__rectangle {
            width: 324px;
            height: 80px;
            background: linear-gradient(
              94.26deg,
              #c89afc 9.51%,
              #7c6afa 90.23%
            );
          }
          .persentages-block__rectangle_75 {
            height: 60px;
            background: linear-gradient(
              94.26deg,
              #c89afc 9.51%,
              #7c6afa 90.23%
            );
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
          .persentages-block__rectangle_50 {
            width: 324px;
            height: 30px;
            background: linear-gradient(
              94.26deg,
              #c89afc 9.51%,
              #7c6afa 90.23%
            );
          }
          .persentages-block__rectangle_final {
            width: 324px;
            height: 10px;
            background: linear-gradient(
              94.26deg,
              #c89afc 9.51%,
              #7c6afa 90.23%
            );
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
          .persentages-block__text {
            margin-top: 20px;
            opacity: 0.5;
            font-size: 14px;
            line-height: 160%;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .main__get-profession-now {
    display: flex;
    flex-direction: column;
    align-items: center;

    .get-profession-now__title {
      font-size: 48px;
      line-height: 140%;
    }

    .get-profession-now__advantages {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      width: 1296px;

      .get-profession-now__advantage-block {
        width: 358px;
        height: 104px;
        text-align: center;
        margin: 0 30px;

        .advantage-block__title {
          margin: 25px 0;
          width: 320px;
        }
        .advantage-block__text {
          width: 358px;
          height: 104px;
          font-size: 16px;
          line-height: 160%;
          color: #ffffff;
          opacity: 0.8;
        }
      }
    }
  }
  .main__our-partners {
    display: flex;
    flex-direction: column;
    width: 1315px;
    align-self: center;
    margin-top: 250px;

    .our-partners__title {
      display: flex;
      align-items: center;
    }

    .our-partners__images {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 990px;
      margin-left: -400px;
      justify-content: center;
      align-self: center;
      user-select: none;
      .our-partner__img {
        width: 198px;
        height: 93px;
        background: url(../img/our-partner.png) center no-repeat;
        background-size: 60%;
        aspect-ratio: 16/9;
        border-right: 1px solid #ffffff50;
        border-bottom: 1px solid #ffffff50;
        &:nth-child(4) {
          border-right: none;
        }
        &:nth-child(5) {
          border-bottom: none;
        }
        &:nth-child(6) {
          border-bottom: none;
        }
        &:nth-child(7) {
          border-bottom: none;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
  .main__training-programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .training-programm__title {
      margin-top: 20px;
      font-size: 48px;
      line-height: 140%;
    }

    .training-programm__subtitle {
      font-size: 16px;
      line-height: 160%;
      width: 411px;
      text-align: center;
      opacity: 0.5;
      margin-top: 20px;
    }

    .training-programm__timeline {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: max-content;

      .timeline__week {
        position: relative;
        text-align: right;

        .week__title {
          font-size: 14px;
          line-height: 160%;
          opacity: 0.5;
          font-family: "Roboto-Light";
          margin-bottom: 15px;
        }

        .week__text {
          font-size: 18px;
          line-height: 160%;
          width: 228px;
        }

        .week__line-svg {
          position: relative;
          top: -60px;
          left: 50px;
        }
      }
    }
    #first-week_left {
      top: -650px;
      left: -180px;
    }
    #second-week_left {
      top: -600px;
      left: -180px;
    }
    #third-week_left {
      top: -550px;
      left: -180px;
    }
    #fourth-week_left {
      top: -500px;
      left: -180px;
    }

    #first-week_right {
      top: -1030px;
      left: 180px;

      .week__title {
        text-align: left;
      }
      .week__text {
        text-align: left;
      }
      .week__line-svg {
        position: relative;
        left: -240px;
      }
    }
    #second-week_right {
      top: -970px;
      left: 180px;

      .week__title {
        text-align: left;
      }
      .week__text {
        text-align: left;
      }
      .week__line-svg {
        position: relative;
        left: -240px;
      }
    }
    #third-week_right {
      top: -920px;
      left: 180px;

      .week__title {
        text-align: left;
      }
      .week__text {
        text-align: left;
      }
      .week__line-svg {
        position: relative;
        left: -240px;
      }
    }
  }
  .main__our-teachers {
    position: relative;
    top: -750px;
    display: flex;
    flex-direction: column;

    .our-teachers__title {
      margin-left: 45px;
      display: flex;
      align-items: center;
      width: 350px;
      justify-content: space-between;
    }

    .our-teachers__teachers {
      display: flex;
      justify-content: space-between;
      width: 900px;
      align-self: center;
      margin-top: 30px;

      .teachers-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .teachers-block__teacher-photo {
          width: 190px;
          height: 190px;
          border-radius: 50%;
        }

        .teachers-block__title {
          font-size: 24px;
          line-height: 140%;
          margin: 25px 0;
        }

        .teachers-block__text {
          font-size: 16px;
          line-height: 160%;
          opacity: 0.8;
          margin: 5px 0 20px 0;
        }

        .teachers-block__link {
          color: white;
          text-decoration: none;
          font-family: 'Roboto-Light';
          padding: 10px 25px;
          border: $bd;
          border-radius: 50px;
        }
      }
    }
  }
}
